@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Gradebook is a demo project by 
    <a href="https://timpurdum.com">Tim Purdum</a> and 
    <a href="https://cedarrivertech.com">Cedar River Tech</a>.
</p>
