@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Cedar River Tech, LLC
    2304 Franklin Street<br />
    Cedar Falls, IA 50613<br />
    <abbr title="Phone">P:</abbr>
    724.278.3241
</address>

<address>
    <strong>Support:</strong> <a href="mailto:tim@cedarrivertech.com">tim@cedarrivertech.com</a><br />
</address>
